@font-face {
    font-family: AmongUS;
    src: url(../font/In\ your\ face\,\ joffrey!.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: AmongUS;
}

body {
    background-color: #000000;
}

h1 {
    color: white;
    font-size: 100px;
    text-align: center;
    padding-top: 20px;
}

#bouton {
    display: flex;
    justify-content: center;
}

#monbouton, a {
    text-decoration: none;
    color: white;
    font-size: 80px;
    
    border: 6mm ridge rgb(124, 105, 105);
    padding: 20px;
}
#deathdancegif {
    display: flex;
    justify-content: center;
    padding: 40px;
}