@font-face {
    font-family: AmongUS;
    src: url(../font/In\ your\ face\,\ joffrey!.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: AmongUS;
}

body {
    background-color: #000000;
}

h1 {
    color: white;
    font-size: 100px;
    text-align: center;
    padding-top: 20px;
}

#bouton {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#monbouton, a {
    text-decoration: none;
    color: white;
    font-size: 80px;
    
    border: 6mm ridge rgb(124, 105, 105);
    padding: 20px;
}
#deathdancegif {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 170px;
    width: 200px;
    height: 200px;
}
#backdeath {
    border-radius: 40%;
    background-image: url(../pics/death_background.png); 
    background-size:cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
}

#global {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}