@font-face {
    font-family: AmongUS;
    src: url(../font/In\ your\ face\,\ joffrey!.ttf);
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #333;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#choices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.choice {
    text-decoration: none;
    color: white;
    font-size: 40px;
    width: 200px;
    font-family: 'AmongUS';
    margin-top: 20px;
    border: 6mm ridge rgb(124, 105, 105);
    border-radius: 10%;
    padding: 20px;
    text-align: center;
}

#box-audio {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#logo{height: 200px;
width: auto;}

#banner{height: 250px;
width: auto;}